<!-- reaction modal -->
<section>
  <div class="form-group">
    <div class='list-group'>
      <a href='#' class='list-group-item' ng-repeat='reaction in reactions' ng-click='react.value = reaction.value' ng-class="react.value === reaction.value ? 'active':''">
        <p class='list-group-item-text'>
          <div ng-class='reaction.value'></div>
          {{reaction.title}} - {{reaction.description}}
        </p>
      </a>
    </div>
    <label for="reason">Reason:</label>
    <textarea class="form-control" rows="3" id="reason" ng-model='react.reason'></textarea>
    <button type="button" class="btn btn-success" ng-click='ok()'>Ok</button>
    <button type="button" class="btn btn-default" ng-click='cancel()'>Cancel</button>
  </div>
</section>