<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Great Debate" src="modules/core/client/img/brand/debateLogo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Great Debate is a place for friendly, citation-driven debate and discussion.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Trending Topics</h2>
    <div class="row">
      <div class="col-md-3">
        <h4>Politics</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Should the Electoral College should be abolished in favor of a popular vote?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should IDs be required for voting?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should term limits be imposed on members of Congress?</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Science</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Should NASA privatize all of its shuttle launches?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Is a unified theory necessary for quantum physics?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should scientific journals be free?</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Social Issues</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Should police officers be required to wear body cameras?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should health care cover gender reassignment surgery?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should government funds go towards farming subsidies?</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Technology</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Does Facebook bear a responsibility for filtering fake news?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should Apple be required to pay offshore taxes in profits earned in Ireland?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should AT&T be allowed to acquire Time Warner?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <div class="well">
    <h2>All Categories</h2>
    <p>
      What are you interested in?
    <ul>
      <li><a target="_blank" ng-click="$state.go('topic')">Politics</a>
      </li>
      <li><a target="_blank" ng-click="$state.go('topic')">Science</a>
      </li>
      <li><a target="_blank" ng-click="$state.go('topic')">Social Issues</a>
      </li>
      <li><a target="_blank" ng-click="$state.go('topic')">Local Issues</a>
      </li>
      <li><a target="_blank" ng-click="$state.go('topic')">Technology</a>
      </li>
    </ul>
  </div>
  <br>Copyright 2016 Great Debate
</section>
