<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Great Debate" class="img-responsive text-center" src="modules/core/client/img/brand/debateLogo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Great Debate is a place for friendly, citation-driven debate and discussion.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Trending Topics</h2>
    <div class="row">
      <div class="col-md-3">
        <h4>Politics</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Does stop-and-frisk reduce crime?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should IDs be required for voting?</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Should term limits be imposed on members of Congress?</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Science</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 1</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 2</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 3</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Social Issues</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 1</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 2</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 3</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Technology</h4>
        <ul>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 1</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 2</a></li>
          <li><a target="_blank" ng-click="$state.go('topic')">Topic 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <div class="well">
    <h2>All Categories</h2>
    <p>
      What are you interested in?
    <ul>
      <li><a target="_blank" href="http://meanjs.org/docs.html">Politics</a>
      </li>
      <li><a target="_blank" href="http://meanjs.org/modules.html">Science</a>
      </li>
      <li><a target="_blank" href="http://meanjs.org/changelog.html">Social Issues</a>
      </li>
      <li><a target="_blank" href="http://meanjs.org/community.html">Local Issues</a>
      </li>
      <li><a target="_blank" href="http://blog.meanjs.org">Technology</a>
      </li>
    </ul>
  </div>
  <br>Copyright 2016 Great Debate
</section>
