<div class="modal-header">
    <h3 class="modal-title">You've Joined the <strong ng-class="{ 'text-info': position=='for', 'text-danger': position=='against' }">{{ position.toUpperCase() }}</strong> Position!</h3>
</div>
<div class="modal-body">
    The Great Debate is for civil, reasoned, and well-cited debate.</br></br> <strong>You don't need to argue for your own opinion.</strong> If you're assigned to a side of an issue you don't believe in, try supporting it. </br>Please follow the code of conduct:</br>
    <ul>
      <li>Participation is more important than winning.</li>
      <li>Respect comes first- respect your opponents and conduct yourself ethically.
      <li>No personal attacks.</li>
      <li>No opinion-based arguments.</li>
    </ul>
  </br>
  By clicking OK, I agree with the above code of conduct.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(position)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
