<div class="modal-header">
    <h3 class="modal-title">Point <strong ng-class="{ 'text-info': position=='for', 'text-danger': position=='against' }">{{ position.toUpperCase() }}</strong>:</h3>
</div>
<div class="modal-body">
    <!--TLDR-->
    <div class="form-group">
      <label for="tldr">One-Sentence Summary</label>
      <input type="text" ng-model="data.tldr" class="form-control" id="tldr" placeholder="Summarize your point in one sentence.">
    </div>

    <!--Body-->
    <div class="form-group">
      <label for="responseBody">Body</label>
      <textarea class="form-control" ng-model="data.body" id="responseBody" rows="3" placeholder="Keep it succinct"></textarea>
    </div>

    <!--Citation-->
    <div class="form-group">
      <label for="citation">Citation URL</label>
      <input type="text" ng-model="data.citation" class="form-control" id="citation" placeholder="URL">
    </div>

    <!--Citation explanation-->
    <div class="form-group">
      <label for="citationExplanation">Citation Explanation (Optional)</label>
      <input type="text" ng-model="data.citationExplanation" class="form-control" id="citationExplanation" placeholder="Citation Explanation">
    </div>
</div>
<div class="modal-footer">
  <div class="text-left">
    Remember to keep focused on a single, citation-based point.
  </div>
  <button class='btn btn-primary' ng-click="ok(data)">Submit Point</button>
  <!-- <button class="btn btn-primary" type="button" ng-click="ok(position)">OK</button> -->
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

