<!-- The chat view -->
<section ng-controller="TopicController">
    <div class="page-header">
      <h1>
        <small><strong>Proposed:</strong> The Electoral College should be abolished in favor of a popular vote.</small>
        <button class='btn btn-primary pull-right' ng-click="join()">Join Discussion</button>
      </h1>
    </div>
    <!-- The message form -->
    <!--   <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
        <fieldset class="row">
          <div class="input-group">
            <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
            </span>
          </div>
        </fieldset>
      </form> -->
    <div>
      <div class="col-md-6">
        <h4>Arguments for</h4>
        <ul class="list-unstyled">
          <!-- List all messages -->
          <li class="col-xs-12 col-md-12 chat-message" ng-repeat="message in messages | filter:{ position:'for' }:strict">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                <span>{{ message.title }}</span>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{ message.body }}</p>
                <div>
                  <div class="col-md-6">
                    <h6>Sources</h6>
                    <ul>
                      <li ng-repeat="src in message.sources">
                        {{ src.text }} <br />
                        <a ng-href="{{ src.url }}" target="_blank">{{ src.url }}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h6>Comments:</h6>
                    <ul>
                      <li ng-repeat="comment in message.comments">
                        {{ comment.body }}<br />
                        <a target="_blank" ng-href="{{ comment.sources[0].url }}">{{ comment.sources[0].url }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Flag" ng-click="addFlag(message)" title="Add Flag">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Comment" ng-click="addComment(message)" title="Add Comment">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                  </button>
                </div>
                <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
              </div>
            </div>
            <!--           <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>

                      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />

                      <div class="pull-left chat-message-details">
                        <strong ng-bind="message.username"></strong>
                        <br />
                        <span ng-bind="message.text"></span>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div> -->
          </li>
        </ul>
        <div class="text-right">
          <button class="btn btn-info" ng-if="channel.joined" ng-click="addPoint('for')">Add Point</button>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Arguments against</h4>
        <ul class="list-unstyled">
          <!-- List all messages -->
          <li class="col-xs-12 col-md-12 chat-message" ng-repeat="message in messages | filter:{ position:'against' }:strict">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">
                <span>{{ message.title }}</span>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{ message.body }}</p>
                <div>
                  <div class="col-md-6">
                    <h6>Sources</h6>
                    <ul>
                      <li ng-repeat="src in message.sources">
                        {{ src.text }} <br />
                        <a ng-href="{{ src.url }}" target="_blank">{{ src.url }}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h6>Comments:</h6>
                    <ul>
                      <li ng-repeat="comment in message.comments">
                        {{ comment.body }}<br />
                        <a target="_blank" ng-href="{{ comment.sources[0].url }}">{{ comment.sources[0].url }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Flag" ng-click="addFlag(message)" title="Add Flag">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-xs" aria-label="Add Comment" ng-click="addComment(message)" title="Add Comment">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                  </button>
                </div>
                <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
              </div>
            </div>


            <!-- <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" /> -->

            <!--           <div class="pull-left chat-message-details">
                        <strong ng-bind="message.username"></strong>
                        <br />
                        <span ng-bind="message.text"></span>
                        <br />
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div> -->
          </li>
        </ul>
        <div class="text-right">
          <button class="btn btn-info" ng-if="channel.joined" ng-click="addPoint('against')">Add Point</button>
        </div>
      </div>
    </div>
    <br />
    <div class="text-right">
      <button class="btn btn-primary" ng-if="!channel.joined" ng-click="join()">Join Discussion</button>
    </div>
  </section>

</section>
