<!-- The chat view -->
<section ng-controller="TopicController">
  <div class="page-header">
    <h1>
      <small><strong>Proposed:</strong> The Electoral College should be abolished in favor of a popular vote.</small>
      <button class='btn btn-primary pull-right' ng-if="!user.joined" ng-click="join()">Join Discussion</button>
    </h1>
  </div>
  <div>
    <div class="col-md-6">
      <h4>Arguments for</h4>
      <ul class="list-unstyled">
        <!-- List all messages -->
        <li class="col-xs-12 col-md-12 chat-message" ng-repeat="message in messages | filter:{ position:'for' }:strict">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span>{{ message.title }}</span>
                <small class="pull-right">
                	{{ message.user.username }} (+{{ message.user.points }})
                </small>
              </h3>
            </div>
            <div class="panel-body">
              <p>{{ message.body }}</p>
              <div>
                <div class="col-md-6">
                  <h6>Sources ({{message.sources.length}}):</h6>
                  <ul>
                    <li ng-repeat="src in message.sources">
                      {{ src.text }} <br />
                      <a ng-href="{{ src.url }}" target="_blank">{{ src.url }}</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h6>Comments ({{message.comments.length}}):</h6>
                  <ul>
                    <li ng-repeat="comment in message.comments">
                      {{ comment.body }}<br />
                      <a target="_blank" ng-href="{{ comment.sources[0].url }}">{{ comment.sources[0].url }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="btn-group">
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Flag" ng-click="addFlag(message)" title="Add Flag">
                  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </button>
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Comment" ng-click="addComment(message)" title="Add Comment">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                </button>
              </div>
              <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
            </div>
          </div>
        </li>

        <!--Response-->
       <!--  <li class="col-xs-12 col-md-12 chat-message" ng-show="addingForPoint">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span>Enter response:</span>
              </h3>
            </div>
            <div class="panel-body form-group">
              <div class="form-group">
                <label for="tldr">TL;DR</label>
                <input type="text" ng-model="tldr" class="form-control" id="tldr" placeholder="TL;DR">
              </div>

              <div class="form-group">
                <label for="responseBody">Make your point</label>
                <textarea class="form-control" ng-model="body" id="responseBody" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label for="citation">Citation</label>
                <input type="text" ng-model="citation" class="form-control" id="citation" placeholder="Citation">
              </div>

              <div class="form-group">
                <label for="citationExplanation">Citation Explanation (Optional)</label>
                <input type="text" ng-model="citationExplanation" class="form-control" id="citationExplanation" placeholder="Citation Explanation">
              </div>
              <div class="form-group">
                <button class='btn btn-primary pull-right' ng-disabled="!canSubmit()" ng-click="submitPoint()">Submit Point</button>
              </div>
            </div>
          </div>
        </li> -->

      </ul>

      <div class="text-right">
        <button class="btn btn-info" ng-if="user.joined && user.position=='for' && !addingForPoint" ng-click="addPoint('for')">Add Point</button>
      </div>
    </div>

    <!--Arguments Against-->
    <div class="col-md-6">
      <h4>Arguments against</h4>
      <ul class="list-unstyled">
        <!-- List all messages -->
        <li class="col-xs-12 col-md-12 chat-message" ng-repeat="message in messages | filter:{ position:'against' }:strict">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span>{{ message.title }}</span>
                <small class="pull-right">
                    {{ message.user.username }} (+{{ message.user.points }})
                </small>
              </h3>
            </div>
            <div class="panel-body">
              <p>{{ message.body }}</p>
              <div>
                <div class="col-md-6">
                  <h6>Sources ({{message.sources.length}}):</h6>
                  <ul>
                    <li ng-repeat="src in message.sources">
                      {{ src.text }} <br />
                      <a ng-href="{{ src.url }}" target="_blank">{{ src.url }}</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h6>Comments ({{message.comments.length}}):</h6>
                  <ul>
                    <li ng-repeat="comment in message.comments">
                      {{ comment.body }}<br />
                      <a target="_blank" ng-href="{{ comment.sources[0].url }}">{{ comment.sources[0].url }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="btn-group">
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Reaction" ng-click="addReaction(message)" title="Add Reaction">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Flag" ng-click="addFlag(message)" title="Add Flag">
                  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </button>
                <button type="button" ng-show="user.joined" class="btn btn-default btn-xs" aria-label="Add Comment" ng-click="addComment(message)" title="Add Comment">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                </button>
              </div>
              <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
            </div>
          </div>
        </li>
      </ul>
      <!--TODO: copy over input elements when it's finished for left side-->
      <div class="text-right">
        <button class="btn btn-info" ng-if="user.joined && user.position=='against'" ng-click="addPoint('against')">Add Point</button>
      </div>
    </div>
  </div>
  <br />
  <div class="text-right">
    <button class="btn btn-primary" ng-if="!user.joined" ng-click="join()">Join Discussion</button>
  </div>
</section>

